body{
    font-family:sans-serif ;
    background-color: #f4f7f9;
    /* centering card on page with using dislay flex first than justify-content:center */
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
    margin: 0px;
}

.profile-card {
    background-color: white;
    width: 400px; 
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    box-sizing: border-box; 
}
.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #0077B5;
    margin-bottom: 15px;
}
.role{
    color: #555;
    font-size: 1rem;

}
.bio{
    margin-top: 20px;
    padding: 15px 0;
    border-top: 1px solid #eee;

}
.contact-form-section{
    margin-top: 20px;
    padding: 15px 0;
    border-top: 1px solid #eee;

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none; 
}

.btn-linkedin {
    background-color: #0077B5;
    color: white;
   /* Makeing the link take full width */
    margin-top: 15px;
}

.btn-contact {
    background-color: #4CAF50;
    color: white;
    margin-top: 5px;
}