@import "tailwindcss";

:root {
  --color-primary: #22c55e;   /* light green */
  --color-bg: #ffffff;
  --color-text: #0f172a;
}

.dark {
  --color-primary: #4ade80;   /* softer green for dark */
  --color-bg: #020617;
  --color-text: #e5e7eb;
}
