@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

html {
  background-color: white;
  color: #0f172a;
  scroll-behavior: smooth;
}

html.dark {
  background-color: #0f172a;
  color: #f8fafc;
}
